.video-section .video-container{
  position: sticky;
  z-index: 1;
  max-width:800px;
  margin: 0 auto;
  margin-bottom: 30px;
  box-sizing: border-box;
  border:5px solid var(--main-color);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
@media screen and (min-width:1000px){
  .video-section .video-container{
    top:75px;
  }
}
@media screen and (max-width:1000px){
  .video-section .video-container{
    top:85px;
  }
}
.video-section .video-container::before{
  content: "";
  display: block;
  padding-top: 56.25%;
}
.video-section .video-container iframe{
  position: absolute;
  top:0;
  width: 100%;
  height:100%;
}
.video-section ul{
  display: flex;
  flex-wrap: wrap;
}
.video-section ul li{
  box-sizing: border-box;
  padding: 10px;
}
.video-section ul li button{
  display: block;
  width: 100%;
  overflow: hidden;
  border:5px solid var(--dark-color);
  background: #000;
  border-radius: 0px;
}
.video-section ul li button img{
  width: 100%;
}
@media screen and (min-width:1000px){
  .video-section ul li{
    width: 25%;
  }
}
@media screen and (min-width:500px) and (max-width:1000px){
  .video-section ul li{
    width: 33.33%;
  }
}
@media screen and (max-width:500px){
  .video-section ul li{
    width: 50%;
  }
}
/* hover motion */

.video-section ul li button img{
  opacity: 0.5;
  transition: all 0.3s;
}
.video-section ul li button:hover img{
  opacity: 1;
  transform: scale(1.2);
}