.masonry-gallery-section ul {

}
.masonry-gallery-section ul li{
  box-sizing: border-box;
  padding: 1px;
}
.masonry-gallery-section ul li figure{
  padding: 5px;
  background: var(--dark-color);
}
.masonry-gallery-section ul li figure a div{
  overflow: hidden;
}
.masonry-gallery-section ul li figure a div img{
  width: 100%;
}
.masonry-gallery-section ul li figure a figcaption{
  padding: 15px;
  background:var(--dark-color);
}
.masonry-gallery-section ul li figure a figcaption h3{
  text-align: center;
  font-weight: 600;
  color:#FFF;
}
.masonry-gallery-section ul li figure a figcaption p{
  font-size: 0.9em;
  color:rgba(255,255,255,0.7)
}
@media screen and (min-width:1000px) {
  .masonry-gallery-section ul li {
    width: 33.33%;
  }
}

@media screen and (min-width:600px) and (max-width:1000px) {
  .masonry-gallery-section ul li {
    width: 50%;
  }
}

@media screen and (max-width:600px) {
  .masonry-gallery-section ul li {
    width: 100%;
  }
}
/* hover motion */
.masonry-gallery-section ul li a{
  display: block;
  overflow: hidden;
}
.masonry-gallery-section ul li div{
  transition: all 0.3s;
}
.masonry-gallery-section ul li div:hover{
  transform: scale(1.2);
}
.masonry-gallery-section ul li figcaption{
  position: relative;
  z-index: 1  ;
}